@media (max-width: 1030px) { section.seccion1 .cont-center .center { width: 100%; }
  .st-accordion ul li section.seccion3 .cont-center .content { width: 960px; margin: 67px auto 0; padding: 50px 15px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image { width: 522px; height: 615px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 { width: 390px; height: 500px; left: -335px; }
  .st-accordion ul li section.seccion3 .controles { width: 65px; }
  .st-accordion ul li section.seccion3 .controles .cont-center { background: transparent; }
  .st-accordion ul li section.seccion4 .cont-center .content { padding: 50px 15px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-left { width: 290px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-left img { width: 100%; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-left p { padding-top: 10px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-left p a { width: 43%; }
  .st-accordion ul li section.seccion4 .cont-center .content .galeria blockquote { margin: 6px 4px; }
  .st-accordion ul li .mroption .button { right: 10px; } }

@media (max-width: 770px) { .main { max-width: 100%; min-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  section.seccion1 .cont-center .center .imagen1 { width: 285px; height: 612px; left: -3px; }
  section.seccion1 .cont-center .center .imagen1 img { width: 100%; }
  section.seccion1 .cont-center .center .imagen2 { width: 255px; height: 286px; right: 0; }
  section.seccion1 .cont-center .center .imagen2 img { width: 100%; }
  section.seccion1 .cont-center .center blockquote { width: 520px; height: 448px; }
  section.seccion1 .cont-center .center blockquote p { font-size: 110px; padding-top: 70px; }
  section.seccion1 .cont-center .center blockquote p span { font-size: 97px; margin-bottom: 12px; }
  section.seccion1 .cont-center .center blockquote p img { padding: 30px 82px 0 0; }
  .st-accordion ul li section.seccion2 .cont-center .content-up { width: 85%; margin-right: 50px; padding: 50px 30px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail { width: 335px; padding: 25px 0 0 0px; }
  .st-accordion ul li section.seccion2 .cont-center .content-center { width: 85%; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom { width: 85%; margin-left: 50px; }
  .st-accordion ul li section.seccion2 .cont-center .album-photo, .st-accordion ul li section.seccion2 .cont-center .image-chica { display: none; }
  .st-accordion ul li section.seccion3 .cont-center .content { width: 100%; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo { width: 364px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo br { display: none; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image { width: 350px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 { height: 480px; }
  .st-accordion ul li section.seccion4 .cont-center .content { padding: 50px 15px; }
  .st-accordion ul li section.seccion4 .cont-center .content p br { display: none; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-left { width: 250px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-left p { padding-top: 10px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-left p a { width: 46%; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right { width: 464px; }
  .st-accordion ul li section.seccion4 .cont-center .content .galeria blockquote { width: 167px; height: 167px; margin: 6px 4px; } }

@media (max-width: 414px) { .view_dt { display: none !important; }
  .view_mb { display: block !important; }
  .controles .cont-center a { width: 38px; height: 38px; }
  .controles .cont-center a.seccion2, .controles .cont-center a.seccion3, .controles .cont-center a.seccion4 { margin-top: -65px; }
  .controles .cont-center a.active { left: -45px; }
  section.seccion1 .cont-center .logo { display: none; }
  section.seccion1 .cont-center .center .imagen1 { width: 165px; height: 355px; left: 0; }
  section.seccion1 .cont-center .center .imagen2 { width: 150px; height: 168px; right: 0; }
  section.seccion1 .cont-center .center blockquote { width: 270px; height: 225px; }
  section.seccion1 .cont-center .center blockquote p { font-size: 58px; line-height: 40px; padding-top: 35px; }
  section.seccion1 .cont-center .center blockquote p span { font-size: 52px; margin-bottom: 12px; }
  section.seccion1 .cont-center .center blockquote p img { width: 100px; padding: 12px 40px 0 0; }
  .st-accordion ul li a.ancla-area span { font-family: 'frutigerbold'; text-align: left; padding: 0 12px; }
  .st-accordion ul li a.ancla-area span span { padding: 0; }
  .st-accordion ul li section.seccion2 { background-image: url("../image/bd_soyfeliz_bocakground.jpg"); background-color: #9DCCEA; background-position: top 50px center; background-size: 100%; }
  .st-accordion ul li section.seccion2 .cont-center { padding: 18px 0; }
  .st-accordion ul li section.seccion2 .cont-center .bx-wrapper .bx-viewport { left: 0; }
  .st-accordion ul li section.seccion2 .cont-center .content-up { background: transparent; width: 85%; height: auto; margin: 0; padding: 0; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail { width: 100%; height: 525px; text-align: center; padding: 0; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail h1 { font-size: 34px; padding-bottom: 10px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail p { font-size: 22px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail a { width: 250px; height: 50px; font-size: 27px; line-height: 50px; margin-left: -125px; top: auto; bottom: 0; left: 50%; right: auto; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail a i { margin: 15px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail a i:before { border-top: 10px solid transparent; border-left: 15px solid #fff; border-bottom: 10px solid transparent; }
  .st-accordion ul li section.seccion2 .cont-center .content-up .image { display: none; }
  .st-accordion ul li section.seccion2 .cont-center .content-center { width: 90%; height: auto; margin-top: 550px; _margin-top: 620px; padding: 24px 20px; }
  .st-accordion ul li section.seccion2 .cont-center .content-center h1 { font-size: 0; margin-bottom: 13px; }
  .st-accordion ul li section.seccion2 .cont-center .content-center h1 img { width: 80%; margin: 0 auto; display: block; vertical-align: top; }
  .st-accordion ul li section.seccion2 .cont-center .content-center p { font-size: 25px; }
  .st-accordion ul li section.seccion2 .cont-center .content-center p b { font-size: 25px !important; margin: 0 5px; display: inline; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom { background-size: 100% auto; width: 107%; margin: 0 -3.5%; padding: 0 10px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail h2 { font-size: 28px; padding-bottom: 13px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail p { font-size: 18px; line-height: normal; padding: 0 2.5%; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail p br { display: none; }
  .st-accordion ul li section.seccion3 .cont-center { padding: 35px 0 0px; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up { background: #fff; width: 95%; margin: 0 auto; padding: 20px 0; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up h1 { width: 100%; font-size: 92px; _font-size: 110px; line-height: normal; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up h1 span.view_mb { width: 150px; _width: 172px; font-size: 40px; _font-size: 47px; text-align: left; line-height: 35px; _line-height: 41px; padding: 15px 0; _padding: 19px 0; display: inline-block !important; vertical-align: top; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up p { width: 85%; font-size: 22px; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up p span { font-size: 16px; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up p span b { font-size: 100%; margin: 0 5px 0 0; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up p span br { display: none; }
  .st-accordion ul li section.seccion3 .cont-center .content { width: 95%; margin-top: 220px; padding: 0; }
  .st-accordion ul li section.seccion3 .cont-center .content .video { width: 112%; height: 200px; margin-top: -220px; margin-left: -6%; }
  .st-accordion ul li section.seccion3 .cont-center .content .video > * { height: 100%; }
  .st-accordion ul li section.seccion3 .cont-center .content .compartir { text-align: center; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail { background: #F0F0F0; text-align: left; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title { width: 112%; margin-left: -6%; top: 60px; left: 0; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title { background-image: url("../image/degrade_001.jpg"); background-position: center; background-size: 101% auto; width: 101%; text-align: center; display: inline-table; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title span { width: 100%; margin: 0; display: table-cell; vertical-align: middle; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title span img { width: 250px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title .detalle2 { display: none; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title .detalle3 { background: #F0F0F0; height: 55px; top: auto; bottom: 75px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title .detalle4 { background: url("../image/degrade_001.jpg"); background-position: center; background-size: 101% auto; width: 100%; top: 80px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo { width: 100%; padding: 90px 0 30px 0; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo.view_mb { margin-top: 290px; _margin-top: 390px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo.view_mb p { font-size: 18px; text-align: left; line-height: normal; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image { width: 80%; height: 299px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image1 .bg { width: 100%; height: auto; position: relative; left: auto; top: auto; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image1 .bg img { width: 156%; height: auto; margin: -72px -160px; position: relative; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 { width: 104%; height: 380px; _height: 400px; z-index: 0; top: 270px; _top: 250px; right: auto; left: 55px; overflow: hidden; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 .bg { width: 100%; height: 100%; top: 0; left: -18%; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 .bg img { min-width: 140%; max-width: 140%; min-height: auto; max-height: auto; }
  .st-accordion ul li section.seccion4 .cont-center { background-image: url("../image/bd_yomelanzo_bocakground.jpg"); background-position: center; background-size: 100% auto; padding: 25px 0; }
  .st-accordion ul li section.seccion4 .cont-center .content { background: transparent; padding: 0 0; }
  .st-accordion ul li section.seccion4 .cont-center .content h1 { font-size: 45px; _font-size: 48px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad { width: 112%; margin-left: -6%; padding: 20px 0 0; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right { width: 100%; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right .video { height: 220px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right .compartir { width: 85%; background: #fff; text-align: center; margin: 0 auto; padding: 20px 0; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb { background: #fff; width: 95%; margin: 0 auto; padding: 0 0 0 0; vertical-align: top; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb h2 { width: 85%; font-size: 0; padding-bottom: 10px; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb h2 img { width: 100%; margin: 0 auto; display: block; vertical-align: top; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb h3 { width: 100%; color: #702c91; font-family: 'bebasneue', sans-serif; font-size: 42px; font-weight: normal; padding: 18px 0 13px 0; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb .image { padding-bottom: 0; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p { width: 85%; font-size: 22px; line-height: normal; padding-bottom: 15px; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p:nth-child(3n) { margin: 0 auto; padding: 10px 0 0 0; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p b, .st-accordion ul li section.seccion4 .cont-center .content .view_mb p strong { font-size: 100%; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p span { width: 100%; font-family: 'frutigerbold'; font-size: 23px; display: inline-block; vertical-align: top; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p a { width: 46%; margin: 15px 5px 0 5px; display: inline-block; vertical-align: top; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p a img { width: 100%; } }

@media (max-width: 378px) { section.seccion1 .cont-center .center .imagen1 { width: 135px; height: 290px; }
  section.seccion1 .cont-center .center .imagen2 { width: 120px; height: 135px; }
  section.seccion1 .cont-center .center blockquote { width: 206px; height: 175px; }
  section.seccion1 .cont-center .center blockquote p { font-size: 45px; line-height: 27px; padding: 25px 30px 0 30px; }
  section.seccion1 .cont-center .center blockquote p span { font-size: 40px; }
  section.seccion1 .cont-center .center blockquote p img { width: 80px; padding: 9px 24px 0 0; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail { height: 450px; _height: 480px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail h1 { font-size: 31px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail p { font-size: 20px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail a { width: 200px; height: 38px; font-size: 20px; line-height: 38px; margin-left: -100px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail a i { margin: 12px 15px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail a i:before { border-top: 7px solid transparent; border-left: 10px solid #fff; border-bottom: 7px solid transparent; }
  .st-accordion ul li section.seccion2 .cont-center .content-center p { font-size: 18.5px !important; }
  .st-accordion ul li section.seccion2 .cont-center .content-center p b { font-size: 18.5px !important; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom { height: 350px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide { height: 350px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail h2 { font-size: 25px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail p { font-size: 15px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail p b { font-size: 17px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image1 .bg img { margin: -72px -144px; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p { font-size: 18px; } }

@media (max-width: 320px) { .st-accordion ul li section.seccion2 .cont-center .content-up div.detail { height: 415px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail h1 { font-size: 27px; }
  .st-accordion ul li section.seccion2 .cont-center .content-up div.detail p { font-size: 17px; }
  .st-accordion ul li section.seccion2 .cont-center .content-center { margin-top: 470px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom { height: 310px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide { height: 310px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail h2 { font-size: 20px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail p { font-size: 13px; }
  .st-accordion ul li section.seccion2 .cont-center .content-bottom .carrusel .slide .detail p b { font-size: 14px; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up h1 { font-size: 90px; }
  .st-accordion ul li section.seccion3 .cont-center .content-seccion-up h1 span.view_mb { width: 140px; font-size: 38px; line-height: 38px; padding: 11px 0; }
  .st-accordion ul li section.seccion3 .cont-center p { font-size: 21px; line-height: normal; }
  .st-accordion ul li section.seccion3 .cont-center p span, .st-accordion ul li section.seccion3 .cont-center p span b { font-size: 15px; }
  .st-accordion ul li section.seccion3 .cont-center .content .video { height: 180px; }
  .st-accordion ul li section.seccion3 .cont-center .content .compartir p { font-size: 15px; line-height: 30px; }
  .st-accordion ul li section.seccion3 .cont-center .content .compartir a { width: 30px; height: 30px; }
  .st-accordion ul li section.seccion3 .cont-center .content .compartir a:before { font-size: 13px; line-height: 33px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail { padding-top: 40px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title { height: 50px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title span img { width: 200px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title .detalle3 { height: 20px; bottom: 60px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .title .cont-title .detalle4 { top: 55px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo { font-size: 20px; line-height: normal; padding-top: 110px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo.view_mb { margin-top: 170px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .parrafo.view_mb p { font-size: 15px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image { height: 230px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image1 .bg img { margin: -53px -109px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 { width: 100%; height: 287px; top: 200px; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 .bg { width: 100%; height: auto; display: inline-block; vertical-align: top; position: relative; top: auto; left: auto; }
  .st-accordion ul li section.seccion3 .cont-center .content .detail .image .cont-image2 .bg img { min-width: 112%; width: 100%; min-height: auto; height: auto; display: block; vertical-align: top; position: relative; }
  .st-accordion ul li section.seccion4 .cont-center .content h1 { font-size: 39px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right .video { height: 190px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right .compartir { padding: 10px 0; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right .compartir p { line-height: 30px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right .compartir a { width: 30px; height: 30px; }
  .st-accordion ul li section.seccion4 .cont-center .content .publicidad .seccion-right .compartir a:before { font-size: 15px; line-height: 33px; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb { padding-bottom: 15px; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb h3 { font-size: 35px; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p { font-size: 15px; padding-bottom: 0; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p span { font-size: 18px; }
  .st-accordion ul li section.seccion4 .cont-center .content .view_mb p a { width: 44%; margin: 15px 2px 0 2px; } }
