@media(max-width: 1030px){
	section.seccion1{
		.cont-center{
			.center {
				width: 100%;
			}
		}
	}
	.st-accordion ul li {
		section.seccion3{
			.cont-center .content{ 
				width: 960px; 
				margin: 67px auto 0; padding: 50px 15px; 
				.detail .image { 
					width: 522px; height: 615px; 
					.cont-image2{ width: 390px; height: 500px; left: -335px; }
				}
			}
			.controles{
				width: 65px;
				.cont-center{
					background: transparent;
				}
			}
		}
		section.seccion4{
			.cont-center .content{
				padding: 50px 15px;
				.publicidad{
					.seccion-left{ 
						width: 290px; 
						img{ width: 100%; }
						p{ 
							padding-top: 10px; 
							a{ width: 43%; }
						}
					}
				}
				.galeria blockquote{ margin: 6px 4px; }
			} 
		}
		.mroption .button{right: 10px;}
	}
}
@media(max-width: 770px){
	.main{ 
		max-width: 100%; min-width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;  
	}
	section.seccion1{
		.cont-center .center{		
			.imagen1{
				width: 285px; height: 612px;
				left: -3px;
				img{width: 100%;}
			}
			.imagen2{
				width: 255px; height: 286px;
				right: 0;
				img{width: 100%;}
			}
			blockquote{
				width: 520px; height: 448px;
				p{
					font-size: 110px;
					padding-top: 70px;
					span{ font-size: 97px; margin-bottom: 12px; }
					img{ padding: 30px 82px 0 0; }
				}
			}
		}
	}
	.st-accordion ul li{ 
		section.seccion2{
			.cont-center{
				.content-up{ 
					width: 85%; 
					margin-right: 50px; padding: 50px 30px; 
					div.detail{ width: 335px; padding: 25px 0 0 0px; }
				}
				.content-center{ width: 85%; }
				.content-bottom{ width: 85%; margin-left: 50px; }

				.album-photo, .image-chica { display: none; }
			} 
		}
		section.seccion3{
			.cont-center{
				.content{ 
					width: 100%; 
					.detail{
						.parrafo{
							width: 364px;
							br{ display: none;}
						}
						.image{ 
							width: 350px; 
							.cont-image2{ height: 480px; }
						}
					}
				}
			}
		}
		section.seccion4{
			.cont-center .content{
				padding: 50px 15px;
				p{
					br{ display: none; }
				}
				.publicidad{
					.seccion-left{ 
						width: 250px; 
						p{ 
							padding-top: 10px; 
							a{ width: 46%; }
						}
					}
					.seccion-right{ width: 464px; } 
				}
				.galeria blockquote{ width: 167px; height: 167px; margin: 6px 4px; }
			} 
		}
	}
}
@media(max-width: 414px){
	.view_dt{ display: none !important; } .view_mb{ display: block !important; }
  	.controles .cont-center a{
  		width: 38px;  height: 38px;
  		&.seccion2, &.seccion3, &.seccion4{ margin-top: -65px; } 
  		&.active{ left: -45px; }
  	}
	section.seccion1 .cont-center{
		.logo{display: none;}
		.center{
			.imagen1 {
				width: 165px; height: 355px;
			    left: 0;
			}
			.imagen2 { width: 150px; height: 168px; right: 0; }
			blockquote { 
				width: 270px; height: 225px; 
				p{    
					font-size: 58px; 
					line-height: 40px;
				    padding-top: 35px;
					span{ font-size: 52px; margin-bottom: 12px; }
					img{ width: 100px; padding: 12px 40px 0 0; }
				}
			}
		}
	}

	.st-accordion ul li{ 
		a.ancla-area span{  
			font-family: 'frutigerbold';
			text-align: left; 
			padding: 0 12px;
			span{ padding: 0; }
		}
		section.seccion2{
		    background-image: url("../image/bd_soyfeliz_bocakground.jpg");
		    background-color: #9DCCEA;
		    background-position: top 50px center;
		    background-size: 100%;
		    
		    .cont-center{
		    	padding: 18px 0;
		    	.bx-wrapper .bx-viewport{ left: 0;}
		    	.content-up {
		    		background: transparent;
		    		width: 85%; height: auto;
		    		margin: 0; padding: 0;
		    		div.detail{
		    			width: 100%; height: 525px;
		    			text-align: center;
		    			padding: 0;
		    			h1{ font-size: 34px; padding-bottom: 10px; }
		    			p{ font-size: 22px; }
		    			a{
		    				width: 250px; height: 50px;
		    				font-size: 27px;
		    				line-height: 50px;
		    				margin-left: -125px;
		    				top: auto; bottom: 0; left: 50%; right: auto;
		    				i{
		    					margin: 15px;
		    					&:before{
									border-top: 10px solid transparent;
									border-left: 15px solid #fff;
									border-bottom: 10px solid transparent;
		    					}
		    				}
		    			}
		    		}
		    		.image{ display: none; }
		    	}
		    	.content-center{
		    		width: 90%; height: auto;
		    		margin-top: 550px; _margin-top: 620px; padding: 24px 20px;
		    		h1{
		    			font-size: 0;
		    			margin-bottom: 13px;
		    			img{ 
		    				width: 80%;
		    				margin: 0 auto;
		    				display: block; vertical-align: top;
		    			}
		    		}
		    		p{
		    			font-size: 25px; 
		    			b{ 
		    				font-size: 25px !important;
		    				margin: 0 5px;
		    				display: inline; 
		    			}
		    		}
		    	}
		    	.content-bottom {
		    		background-size: 100% auto;
		    		width: 107%;
		    		margin: 0 -3.5%; padding: 0 10px;
		    		.carrusel .slide  .detail{
		    			h2{ font-size: 28px; padding-bottom: 13px; }
		    			p{ 
		    				font-size: 18px; line-height: normal; 
		    				padding: 0 2.5%;
		    				br{ display: none; }
		    			}
		    		}
		    	}
		    }
		}
		section.seccion3{
			.cont-center{
				padding: 35px 0 0px;
				.content-seccion-up{
					background: #fff;
					width: 95%;
					margin: 0 auto; padding: 20px 0;
					h1{ 
						width: 100%;
						font-size: 92px; _font-size: 110px;
						line-height: normal;
						span.view_mb{				
						    width: 150px; _width: 172px;		
						    font-size: 40px; _font-size: 47px;
						    text-align: left; line-height: 35px; _line-height: 41px;
						    padding: 15px 0; _padding: 19px 0;
						    display: inline-block !important; vertical-align: top;
						}
					}
					p{
						width: 85%;
						font-size: 22px;
						span{
							font-size: 16px;
							b{ font-size: 100%; margin: 0 5px 0 0; }
							br{ display: none; }
						}
					}
				}
				.content{
					width: 95%;
					margin-top: 220px; padding: 0;
					.video{
						width: 112%; height: 200px;
						margin-top: -220px; margin-left: -6%;
						& > *{ height: 100%; }
					}
					.compartir{ text-align: center; }
					.detail{
						background: #F0F0F0;
						text-align: left;
						.title{
							width: 112%;
							margin-left: -6%;
							top: 60px; left: 0;
							.cont-title{
								background-image: url("../image/degrade_001.jpg");
								background-position: center;
								background-size: 101% auto;
								width: 101%;
								text-align: center;
								display: inline-table;
								span{
									width: 100%; 
									margin: 0;
									display: table-cell; vertical-align: middle;
									img{ width: 250px; }
								}
								.detalle2{ display: none; }
								.detalle3{
									background: #F0F0F0;
									height: 55px; top: auto; bottom: 75px;
								}
								.detalle4 {
									background: url("../image/degrade_001.jpg");
									background-position: center;
									background-size: 101% auto;
									width: 100%;
									top: 80px;
								}
							}
						}
						.parrafo{
							width: 100%;
							padding: 90px 0 30px 0;
							&.view_mb{
								margin-top: 290px; _margin-top: 390px; 
								p{ font-size: 18px; text-align: left; line-height: normal;}
							}
						}
						.image{
							width: 80%; height: 299px;
							.cont-image1 .bg{
								width: 100%; height: auto;
								position: relative; left: auto; top: auto;
								img{
									width: 156%; height: auto;
									margin: -72px -160px;
									position: relative;
								}
							}	
							.cont-image2{				
								width: 104%; height: 380px; _height: 400px;
								z-index: 0; top: 270px; _top: 250px; right: auto; left: 55px;
								overflow: hidden;
								.bg{
									width: 100%; height: 100%;
									top: 0; left: -18%;
									img{ 
										min-width: 140%; max-width: 140%; min-height: auto; max-height: auto; 
									}
								}
							}
						}
					}
				}
			}
		}
		section.seccion4{
			.cont-center{
				background-image: url('../image/bd_yomelanzo_bocakground.jpg');
				background-position: center;
				background-size: 100% auto;
				padding: 25px 0;
				.content{
					background: transparent;
					padding: 0 0;
					h1{ font-size: 45px; _font-size: 48px; }
					.publicidad{
						width: 112%;
						margin-left: -6%; padding: 20px 0 0;
						.seccion-right{
							width: 100%;
							.video{ height: 220px; }
							.compartir{
								width: 85%;
								background: #fff;
								text-align: center;
								margin: 0 auto; padding: 20px 0;
							}
						}
					}
					.view_mb{
						background: #fff;
						width: 95%;
						margin: 0 auto; padding: 0 0 0 0;
						vertical-align: top;
						h2{
							width: 85%;
						    font-size: 0;
						    padding-bottom: 10px;		

			    			img{ 
			    				width: 100%;
			    				margin: 0 auto;
			    				display: block; vertical-align: top;
			    			}				    
						}
						h3{
							width: 100%;
						    color: #702c91; font-family: 'bebasneue', sans-serif; font-size: 42px; font-weight: normal;
						    padding: 18px 0 13px 0;
						}
						.image{ padding-bottom: 0; }
						p{
							width: 85%;
							font-size: 22px;
							line-height: normal;
						    padding-bottom: 15px;
						    &:nth-child(3n){ margin: 0 auto; padding: 10px 0 0 0; }
							b, strong{ font-size: 100%; }
							span{
								width: 100%;
								font-family: 'frutigerbold';
								font-size: 23px;
								display: inline-block; vertical-align: top;
							}
							a{
								width: 46%;
								margin: 15px 5px 0 5px;
								display: inline-block; vertical-align: top;
								img{ width: 100%; }
							}
						}
					}
				}
			}
		}
	}
}
@media(max-width: 378px){
	section.seccion1 .cont-center{
		.center{
			.imagen1 { width: 135px; height: 290px; }
			.imagen2 { width: 120px; height: 135px; }
			blockquote { 
				width: 206px; height: 175px; 
				p{
					font-size: 45px;
					line-height: 27px;
					padding: 25px 30px 0 30px;
					span{ font-size: 40px; }
					img { width: 80px; padding: 9px 24px 0 0; }
				}
			}
		}
	}
	.st-accordion ul li {
		section.seccion2{
		    .cont-center{
		    	.content-up {
		    		div.detail{
	    			    height: 450px; _height: 480px;
		    			h1{ font-size: 31px; }
		    			p{ font-size: 20px; }
		    			a{
		    				width: 200px; height: 38px;
		    				font-size: 20px; line-height: 38px;
		    				margin-left: -100px; 
		    				i{ 
		    					margin: 12px 15px;
		    					&:before {
								    border-top: 7px solid transparent;
								    border-left: 10px solid #fff;
								    border-bottom: 7px solid transparent;
								}
		    				}
		    			}
		    		}
		    	}
		    	.content-center p{
		    		font-size: 18.5px !important;
    				b{ font-size: 18.5px !important; }
		    	}
		    	.content-bottom{
		    		height: 350px;
			    	.carrusel .slide{
		    			height: 350px;
				    	.detail{
				    		h2{ font-size: 25px; }
				    		p{ 
				    			font-size: 15px; 
				    			b{ font-size: 17px; }
				    		}
				    	}
				    }
			    }
		    }
		}
		section.seccion3 .cont-center .content .detail .image .cont-image1 .bg img{ margin: -72px -144px; }
		section.seccion4 .cont-center .content .view_mb p{
			font-size: 18px;
		}
	}
}
@media(max-width: 320px){
	.st-accordion ul li {
		section.seccion2{
		    .cont-center{
		    	.content-up {
		    		div.detail{
	    			    height: 415px;
		    			h1{ font-size: 27px; }
		    			p{ font-size: 17px; }
		    		}
		    	}
		    	.content-center{ margin-top: 470px;}
		    	.content-bottom{
		    		height: 310px;
			    	.carrusel .slide{
		    			height: 310px;
				    	.detail{
				    		h2{ font-size: 20px; }
				    		p{ 
				    			font-size: 13px; 
				    			b{ font-size: 14px; }
				    		}
				    	}
				    }
			    }
		    }
		}
		section.seccion3{
			.cont-center{
				.content-seccion-up h1{
					font-size: 90px;
					span.view_mb{ 
						width: 140px;
						font-size: 38px; 
						line-height: 38px;
						padding: 11px 0;
					}
				}
				p{
					font-size: 21px;
					line-height: normal;
					span, span b{
						font-size: 15px;
					}
				}
				.content{
					.video{ height: 180px; }
					.compartir{
						p{ font-size: 15px; line-height: 30px; }
						a{
							width: 30px; height: 30px;
							&:before{ font-size: 13px; line-height: 33px; }
						}
					}
					.detail{
						padding-top: 40px;
						.title .cont-title{
							height: 50px;
							span img{ width: 200px; }
							.detalle3{ height: 20px; bottom: 60px; }
							.detalle4{ top: 55px; }
						}
						.parrafo{
							font-size: 20px;
							line-height: normal;
							padding-top: 110px;
						}
						.parrafo.view_mb{
							margin-top: 170px; 
							p{ font-size: 15px; }
						}
						.image{
							height: 230px; 
							.cont-image1 .bg img{ margin: -53px -109px; }
							.cont-image2{
								width: 100%; height: 287px;
								top: 200px;
								.bg{
									width: 100%; height: auto;
									display: inline-block; vertical-align: top;
									position: relative; top: auto; left: auto;
									img{
										min-width: 112%; width: 100%; min-height: auto; height: auto;
										display: block; vertical-align: top;
										position: relative;
									}
								}
							}
						}
					}
				}
			}
		}
		section.seccion4 .cont-center .content{
			h1{ font-size: 39px; }
			.publicidad .seccion-right{
				.video{ height: 190px; }
				.compartir{
					padding: 10px 0;
					p{ line-height: 30px; }
					a{
						width: 30px; height: 30px;
						&:before{ font-size: 15px; line-height: 33px; }
					}
				}
			}
			.view_mb{
				padding-bottom: 15px; 
				h3{ font-size: 35px; }
				p{ 
					font-size: 15px; 
					span{ font-size: 18px; }
					a { width: 44%; margin: 15px 2px 0 2px; }
					padding-bottom: 0;
				}
			}
		}
	}
}