doctype html
html(lang="es")
	head
		title 
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/reset.css")
		link(rel="stylesheet", type="text/css", href="https://fontastic.s3.amazonaws.com/bkQjoWLeS6TGYqbaqSpsfG/icons.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Oswald")
	body        
		#gulia-accordion.st-accordion
			ul
				li
					section#inicio.contenido-total.seccion1
						.cont-center
							.logo
								.main
									span
							aside.center
								.main
									.imagen1
									.imagen2
									blockquote
					
				li
					section#ser_free.contenido-total.seccion2
						.ancla-area
							a(href="#ser_free", title="").col1
								span
									span
										i 
										|Ser Free
							.main
								a(href="javascript:;", title="Boton").button
							aside.cont-center
								.main
						.st-content
							aside.cont-center
								.main
									.content-up
									.content-center
									.content-bottom
									.album-photo
									.image-chica
					
				li
					section#hoy.contenido-total.seccion3
						.ancla-area
							a(href="#hoy", title="").col2
								span
									span
										i 
										|HOY
							.main
								a(href="javascript:;", title="Boton").button
							aside.cont-center
								.main
						.st-content
							aside.cont-center
								.main
									h1 
										|HOY 
										span Florencia Arenas \ piso 21
									.image: img(src="image/seccion3-image01.jpg", alt="")
									p 
										|Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos
										br
										|de texto. Lorem Ipsum ha sido  el texto de relleno 
										b estándar

									.content
										.video
											iframe(src="https://www.youtube.com/embed/YODCL5QRYwo", frameborder="0", allowfullscreen)
										.compartir
											p Comparte
											a(href="javascript:;", alt="").icon-face
											a(href="javascript:;", alt="").icon-twit

										.detail
											.title
												.cont-title
													.detalle1
													.detalle2
													.detalle3
													.detalle4
											.parrafo
												p 
													b Flo se atrevió a componer esta canción
														br
														|mientras participaba en
														br
														|Look Cyzone!
												p 
													|Los chicos de Piso 21 quisieron hacer una versión 
													br
													|bailable y más pop, así que se lanzaron con Flo y 
													br
													|mostraron toda una actitud Free
											.image
												.cont-image1
													.bg: img(src="image/hoy/image_big_01.jpg", alt="")
												.cont-image2
													.bg: img(src="image/hoy/image_big_02.jpg", alt="")
							.controles
								.cont-center
									.center
										a(href="javascript:;", alt="")
										a(href="javascript:;", alt="")
					
				li
					section#yo_me_lanzo.contenido-total.seccion4
						.ancla-area
							a(href="#yo_me_lanzo", title="").col3
								span 
									span
										i 
										|#YoMeLanzo
							.main
								a(href="javascript:;", title="Boton").button
						.st-content
							aside.cont-center
								.main
									.content
										h1 LÁNZATE CON NOSOTROS
										h2 GANA UNA SALIDA CON LOS CHICOS DE PISO 21!!!
										.image: img(src="image/seccion4-image01.jpg", alt="")
										p 
											|Lorem Ipsum es 
											b simplemente el texto 
											|de relleno de las 
											b imprentas 
											|y archivos de texto. Lorem Ipsum ha sido el 
											|texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se 
											b dedica a la imprenta
											|) desconocido usó una galería
										.publicidad
											.seccion-left
											.seccion-right
												.video: iframe(src="https://www.youtube.com/embed/2cYlnc42wXg", frameborder="0", allowfullscreen="")
												.compartir
													p Comparte
													a(href="javascript:;", alt="").icon-face
													a(href="javascript:;", alt="").icon-twit

										.galeria
											.image: img(src="image/seccion4-image02.jpg", alt="")
											blockquote
											blockquote
											blockquote
												
											blockquote
											blockquote
											blockquote
												
											blockquote
											blockquote
											blockquote
												
											blockquote
											blockquote
											blockquote
											.button-more
												a(href="javascript:;", title="") 
													span Cargar más

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="js/jquery.accordion.js")
		script(src="js/jquery.easing.1.3.js")
		script(src="js/script.js")