doctype html
html(lang="es") 
	head
		title 
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximun-scale=1")
		link(rel="stylesheet", type="text/css", href="css/reset.css")
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(rel="stylesheet", type="text/css", href="css/responsive.css")
		link(rel="stylesheet", type="text/css", href="https://fontastic.s3.amazonaws.com/bkQjoWLeS6TGYqbaqSpsfG/icons.css")
		<!--[if gte IE 9]> <style type="text/css"> .gradient { filter: none; } </style> <![endif]-->
	body        
		#guliacd.st-accordion
			section#inicio.contenido-total.seccion1
						.cont-center
							.logo
								.main
									span: img(src="image/logo.png", alt="")
							aside.center
								.main
									.imagen1: img(src="image/image-left.png", alt="")
									.imagen2: img(src="image/image-right.png", alt="")
									blockquote
										p 
											span LÁNZATE
											|A VIVIR!
											img(src="image/letras.png", alt="")
			ul
				li.sc1
					a(href="#", title="").ancla-area.col1.reloadcr
						span
							span
								i: img(src="image/icons/icons_01.png", alt="")
								|Ser Free
					.mroption
						.main
							a(href="javascript:;", title="Boton").button
								span: img(src="image/icons/icons_plus.png", alt="")
					section#ser_free.contenido-total.seccion2
						.st-content
							aside.cont-center
								.main
									.content-up
										.detail
											h1 GULIA FREE ES LA FRAGANCIA DE LAS CHICAS QUE SE LANZAN!
											p Quieres cantar en un karaoke?
											p Bailar con tu amigos?
											p o probar sabores exóticos?
											a(href="", title="") 
												|Lo quiero 
												i
										.image
											img(src="image/producto-seecion1.png", alt="")
									.content-center
										h1 Sé como Flo!
										p 
											b Ella es una chica que se lanza por las cosas que quiere.
											|Eso la hizo ganar Look Cyzone en el 2015 y es una chica con
											b una actitud Free.
									.content-bottom
										.cr-controles
											#sld-prev.bx-prev
											#sld-next.bx-next
										.carrusel
											.slide
												.centrador
													.center
														.image: img(src="image/soyfeliz/icon_slider_01.png", alt="")
														.detail
															h2 La Playa
															p 
																|“… Lo único que queríamos era salir de casa, de la
																br
																|rutina, mi amiga nunca había visto el mar. Tomamos
																br
																|una mochila y sin pensarlo mucho nos subimos al 
																br
																|auto…. Me sentí libre.”
																b Francisca,19 años
											.slide
												.centrador
													.center
														.image: img(src="image/soyfeliz/icon_slider_02.png", alt="")
														.detail
															h2 La Fiesta
															p
																|“… Era primera vez hacía algo así, subirme a cantar con
																br
																|tanta gente mirando. Obvio que me dio vergüenza,
																br
																|pero me lancé! Y mis amigas no paraban de reir. Nunca
																br
																|olvidaré esa noche.”
																b Catalina, 18 años
									.album-photo
										.group1: img(src="image/soyfeliz/marquesina_001.jpg", alt="")
										.group2
											img(src="image/soyfeliz/marquesina_002.jpg", alt="")
											img(src="image/soyfeliz/marquesina_003.jpg", alt="")
										.group3: img(src="image/soyfeliz/marquesina_004.jpg", alt="")
									.image-chica: img(src="image/image-right-seccion1.png", alt="")
					
				li.sc2
					a(href="#", title="").ancla-area.col2
						span
							span
								i: img(src="image/icons/icons_02.png", alt="")
								|HOY
					.mroption
						.main
							a(href="javascript:;", title="Boton").button
								span: img(src="image/icons/icons_plus.png", alt="")
					section#hoy.contenido-total.seccion3
						.st-content
							aside.cont-center
								.main
									.content-seccion-up
										h1 
											|HOY 
											span.view_dt Florencia Arenas \ piso 21
											span.view_mb Flo Arenas piso 21
										p 
											|Flo se lanzó y cumplió un sueño:
											span
												b Grabar una canción.
												br
												|Y qué mejor que hacerlo con los chicos de Piso 21 luego de su éxito con el irresistible
												br
												|boricua Nicky Jam?? Lánzate y 
												b Dale Play!

									.content
										.video
											iframe(src="https://www.youtube.com/embed/YODCL5QRYwo?rel=0", frameborder="0", allowfullscreen)#video
										.compartir
											p Comparte
											a(href="javascript:;", alt="").icon-face
											a(href="javascript:;", alt="").icon-twit

										.detail
											.title
												.cont-title 
													span
														img(src="image/letras.svg", alt="")
													.detalle2
													.detalle3
													.detalle4
											.parrafo
												p 
													b Flo se atrevió a componer esta 
														br
														|canción mientras participaba en 
														br
														|Look Cyzone!
												p.view_dt
													|Los chicos de Piso 21 quisieron hacer una versión 
													br
													|bailable y más pop, así que se lanzaron con Flo y 
													br
													|mostraron toda una actitud Free
											.image
												.cont-image1
													.bg: img(src="image/hoy/image_big_01.jpg", alt="")
												.cont-image2
													.bg: img(src="image/hoy/image_big_02.jpg", alt="")
											.parrafo.view_mb
												p
													|Los chicos de Piso 21 quisieron hacer una versión 
													br
													|bailable y más pop, así que se lanzaron con Flo y 
													br
													|mostraron toda una actitud Free
					
				li.sc3
					a(href="#", title="").ancla-area.col3
						span 
							span
								i: img(src="image/icons/icons_03.png", alt="")
								|#YoMeLanzo
					.mroption
						.main
							a(href="javascript:;", title="Boton").button
								span: img(src="image/icons/icons_plus.png", alt="")
					section#yo_me_lanzo.contenido-total.seccion4
						.st-content
							aside.cont-center
								.main
									.content
										h1 LÁNZATE CON NOSOTROS
										h2.view_dt GANA UNA SALIDA CON LOS CHICOS DE PISO 21!!!
										.image.view_dt: img(src="image/seccion4-image01.jpg", alt="")
										p.view_dt
											|Descarga ahora la app Dubsmash en tu celular! Escoge tu parte favorita, dóblala y súbela a
											br
											|Instagram o Twitter usando #YoMeLanzo.
											b 
												|Podrás ganar una salida con los chicos
												br
												|de Piso 21!
										.publicidad
											.seccion-left.view_dt
												img(src="image/phone.jpg", alt="")
												p 
													span Disponible en 
													a(href="javascript:;", alt=""): img(src="image/icons/icons_googleplay.png", alt="")
													a(href="javascript:;", alt=""): img(src="image/icons/icons_istore.png", alt="")
											.seccion-right
												.video: iframe(src="https://www.youtube.com/embed/2cYlnc42wXg?rel=0", frameborder="0", allowfullscreen="")
												.compartir
													p Comparte
													a(href="javascript:;", alt="").icon-face
													a(href="javascript:;", alt="").icon-twit

										.view_mb
											h2 GANA UNA SALIDA CON LOS CHICOS DE PISO 21!!!
											.image: img(src="image/seccion4-image01.jpg", alt="")
											h3 COMO ?!
											p
												|Descarga la app Dubsmash y sube un video a Instagram o Twitter usando 
												b #YoMeLanzo 
												|doblando la estrofa con la que más te identifiques!
											.image: img(src="image/seccion4-image01.jpg", alt="")
											p 
												span Disponible en 
												a(href="javascript:;", alt=""): img(src="image/icons/icons_googleplay.png", alt="")
												a(href="javascript:;", alt=""): img(src="image/icons/icons_istore.png", alt="")
										

										.galeria.view_dt
											.image: img(src="image/seccion4-image02.jpg", alt="")
											blockquote
											blockquote
											blockquote
												
											blockquote
											blockquote
											blockquote
												
											blockquote
											blockquote
											blockquote
												
											blockquote
											blockquote
											blockquote
											.button-more
												a(href="javascript:;", title="") 
													span Cargar más

			.controles
				.cont-center
					.center
						a(href="javascript:;", alt="").seccion2
							span: img(src="image/icons/arrow-up.png", alt="")
						a(href="javascript:;", alt="").seccion3
							span: img(src="image/icons/arrow-up.png", alt="")
						a(href="javascript:;", alt="").seccion4
							span: img(src="image/icons/arrow-up.png", alt="")
						a(href="javascript:;", alt="").seccion1
							span: img(src="image/icons/icon_home.png", alt="")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(src="http://www.youtube.com/player_api")
		script(src="js/jquery.accordion.js")
		script(src="js/jquery.easing.1.3.js")
		script(src="js/jquery.bxslider.min.js")
		script(src="js/script.js")